<div class="header">
	 <div class="h_logo">
	 <span style='color:#FFFFFF;line-height:50px;font-size:35px;'>Music Zeus</span></div>

	<div class="h-menu">
			<ul class="h-nav">
			<li<?php if( g('a') == 'index' ): ?> class="active"<?php endif; ?>><a href="?a=index">日志汇总</a></li>
			<li<?php if( g('c') == 'performance' ): ?> class="active"<?php endif; ?>><a href="?c=performance">性能监控</a></li>
			<li<?php if( g('a') == 'about' ): ?> class="active"<?php endif; ?>><a href="?a=about">关于</a></li>
			</ul>
	</div>
</div>
